<section>
  <div class="contact__card">
    <div class="lg:px-8 px-3 mt-7 grid">
      <div class="md:col-5 col-12 p-3">
        <p class="font-bold text-xl mb-3">CÔNG TY CỔ PHẦN TẬP ĐOÀN AINOVA VIỆT NAM</p>
        <p class="mb-2"><i class="fa-solid fa-location-dot"></i> Địa chỉ trụ sở chính: Số 2 NV9, khu đô thị Tổng cục 5 Bộ Công An, Phường Thanh Liệt, thành phố Hà Nội, Việt Nam.</p>
        <p class="mb-2"><i class="fa-solid fa-phone"></i> Điện thoại: 0867 168 189</p>
        <p class="mb-2"><i class="fa-solid fa-envelope"></i> Email: ainovavietnam&#64;gmail.com</p>

        <div class="my-3 border-top-1 opacity-30" style="color: var(--border-color-app)"></div>
        <p class="text-xl font-bold">LIÊN HỆ VỚI CHÚNG TÔI</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid w-full mt-3">
          <div class="lg:col-4 col-12">
            <input class="w-full" required pInputText type="text" id="username" placeholder="Họ tên" formControlName="username" />
          </div>
          <div class="lg:col-4 col-12">
            <input class="w-full" required pInputText type="email" id="email" placeholder="Email" formControlName="email" />
          </div>
          <div class="lg:col-4 col-12">
            <input class="w-full" required pInputText type="text" id="phone" placeholder="Số điện thoại" formControlName="phone" />
          </div>
          <div class="col-12">
            <textarea pInputText required id="content" formControlName="content" rows="5" cols="30" style="resize: none" placeholder="Nội dung" class="w-full"></textarea>
          </div>
          <button class="w-full home__card--title" pButton severity="secondary" type="submit">
            <span class="text-xl">Gửi liên hệ của bạn</span>
          </button>
        </form>
      </div>
      <div class="md:col-7 col-12 p-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29804.00262183656!2d105.7584611760993!3d20.972572144998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acdbd0727607%3A0x450c42b101aaec9f!2zVOG7lW5nIEPhu6VjIDUsIFTDom4gVHJp4buBdSwgVGhhbmggVHLDrCwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1752596536882!5m2!1svi!2s"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</section>
