.home__card {
  &--title {
    color: var(--light-color-app);
    background: linear-gradient(180deg, #002b33, rgba(0, 43, 51, .25)), linear-gradient(90deg, var(--blue-color-app) 21.86%, var(--yellow-color-app) 78.13%)
  }

  &--banner {
    position: relative;
    background-size: 100% 100%;
    font-family: Inter, sans-serif;
    height: 400px;
    color: var(--light-color-app);
    background: linear-gradient(180deg, #002b33, rgba(0, 43, 51, .25)), linear-gradient(90deg, var(--blue-color-app) 21.86%, var(--yellow-color-app) 78.13%);

    .banner-title {
      position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }

    .banner-before {
      background: url("/assets/image/banner_before_bg.png");
      background-size: calc(100% + 23px);
      background-repeat: no-repeat;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 317px;
      z-index: 0;
    }

    .banner-after {
      background: url("/assets/image/banner_after_bg.png");
      background-repeat: no-repeat;
      background-size: calc(100% - 100px);
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      right: -100px;
      width: 317px;
      z-index: 0;
    }
  }

  &--solution {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.12);
        }
      }
    }

    //.item:nth-of-type(1) img {
    //  border: 5px solid var(--blue-color-app);
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(2) img {
    //  border: 5px solid #00BFF3;
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(3) img {
    //  border: 5px solid #F26C4F;
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(4) img {
    //  border: 5px solid #4101B6;
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(5) img {
    //  border: 5px solid #39B54A;
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(6) img {
    //  border: 5px solid #822C0C;
    //  border-radius: 50%;
    //  padding: 10px;
    //}
    //
    //.item:nth-of-type(7) img {
    //  border: 5px solid #9912EE;
    //  border-radius: 50%;
    //  padding: 10px;
    //}

    img {
      width: 80px;
      height: 80px;
    }
  }

  &--prioritize {
    .item {
      img {
        transition: transform 0.3s ease-in-out;
        width: 60px;
        height: 50px;
      }

      &:hover {
        img {
          transform: scale(1.12);
        }
      }
    }
  }

  &--question {
    .item {
      img {
        width: 60px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.12);
        }
      }
    }
  }

  &--partner {
    img {
      width: 300px;
      height: 100px;
    }

    .item {
      border-radius: 8px;
      padding: 16px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
