<div class="question">
  <div class="app-text text-4xl font-bold py-7 flex justify-content-center align-items-center">
    Doanh nghiệp có câu hỏi, AINOVA sẵn sàng giải đáp
  </div>

  <div class="py-5">
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header>AI Agent của AINOVA là gì và khác biệt như thế nào?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            Khác các nền tảng thông thường, AINOVA là nền tảng AI Agent mở và toàn diện. AINOVA mở ra kỷ nguyên AI
            trong Quản trị Trải nghiệm, dùng AI Agent để thúc đẩy tất cả hoạt động hướng tới khách hàng trong toàn bộ
            vòng đời như bán hàng (Sales) và chăm sóc khách hàng. AINOVA thu thập và phân tích dữ liệu trên tất cả các
            điểm tiếp xúc, khuyến khích sự cộng tác liên chức năng giữa các bộ phận, ưu tiên phản hồi của khách hàng
            và tận dụng các công nghệ tiên tiến để cung cấp trải nghiệm được cá nhân hóa.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="1">
        <p-accordion-header>AI Agent của AINOVA khác gì chatbot thông thường?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            AI Agent của AINOVA vượt trội hơn chatbot truyền thống nhờ khả năng thích ứng linh hoạt với nhu cầu sử
            dụng. Thay vì chỉ phản hồi theo kịch bản có sẵn, AI Agent sử dụng LLMs để học ngôn ngữ thương hiệu, cá
            nhân hóa câu trả lời dựa trên dữ liệu mua hàng, và phân tích cảm xúc/chủ đề để giải quyết vấn đề nhanh gọn
            lẹ.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="2">
        <p-accordion-header>Phần mềm quản lý bán hàng AINOVA phù hợp với những ai?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            Với một quy trình vận hành chuyên nghiệp, mở rộng linh hoạt, AINOVA phù hợp với mọi mô hình, quy mô kinh
            doanh online khác nhau. Ngay cả với những cửa hàng nhỏ hay doanh nghiệp lớn đều có thể triển khai một cách
            dễ dàng.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="3">
        <p-accordion-header>AINOVA tích hợp với các hệ thống và ứng dụng hiện có của doanh nghiệp như thế
          nào?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            Tại AINOVA Marketplace, chúng tôi cung cấp các tích hợp sẵn với các ứng dụng doanh nghiệp thường được sử
            dụng (Zalo OA, Meta,...), ngoài ra còn hỗ trợ tích hợp qua: SDK, API, và Webhook. Trong trường hợp có các
            yêu cầu tích hợp bổ sung, các doanh nghiệp có thể liên hệ với nhóm kỹ thuật của chúng tôi để thảo luận về
            các như cầu cụ thể của doanh nghiệp.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="4">
        <p-accordion-header>Phần mềm quản lý bán hàng AINOVA giúp gì được cho bạn?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            Khách hàng sẽ sở hữu ngay một quy trình quản lý kinh doanh online all-in-one tối ưu hiệu quả, kiểm soát dễ
            dàng. Nâng cao năng suất làm viêc hơn 30%, rút ngắn hơn 70% thời gian cho các thao tác thủ công.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="5">
        <p-accordion-header>Phần mềm AINOVA dùng được trên những thiết bị nào?</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            Bạn có thể sử dụng phần mềm quản lý bán hàng AINOVA trên nhiều thiết bị khác nhau như máy vi tính, laptop,
            máy tính bảng, điện thoại thông minh. Riêng trên các thiết bị smartphone sẽ có riêng ứng dụng được thiết
            kế tiện lợi.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</div>


