.home__card {
  &--title {
    color: var(--light-color-app);
    background: linear-gradient(180deg, #002b33, rgba(0, 43, 51, .25)), linear-gradient(90deg, var(--blue-color-app) 21.86%, var(--yellow-color-app) 78.13%)
  }

  &--center {
    position: relative;
    background-size: 100% 100%;
    font-family: Inter, sans-serif;
    height: 450px;
    color: var(--light-color-app);
    background-image: linear-gradient(180deg, #ffece1, #fff);

    .avatar:nth-of-type(1),
    .avatar:nth-of-type(2),
    .avatar:nth-of-type(3),
    .avatar:nth-of-type(4),
    .avatar:nth-of-type(5),
    .avatar:nth-of-type(6) {
      opacity: 0;
      animation-fill-mode: forwards;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;
      cursor: pointer;

      img {
        width: 70px;
        height: 70px;
      }

      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(20deg) scale(1.2);
      }
    }

    .avatar:nth-of-type(1) {
      top: 100px;
      left: 250px;
      animation-name: slide-in-left;
      animation-delay: 0.1s;
    }

    .avatar:nth-of-type(2) {
      top: 100px;
      right: 250px;
      animation-name: slide-in-right;
      animation-delay: 0.3s;
    }

    .avatar:nth-of-type(3) {
      top: 230px;
      left: 230px;
      animation-name: slide-in-left;
      animation-delay: 0.5s;
    }

    .avatar:nth-of-type(4) {
      top: 270px;
      right: 280px;
      animation-name: slide-in-right;
      animation-delay: 0.1s;
    }

    .avatar:nth-of-type(5) {
      top: 390px;
      left: 350px;
      animation-name: slide-in-left;
      animation-delay: 0.3s;
    }

    .avatar:nth-of-type(6) {
      top: 390px;
      right: 380px;
      animation-name: slide-in-right;
      animation-delay: 0.5s;
    }

    .try-product {
      border-radius: 40px;
      animation: pulse-scale 2s ease-in-out infinite;
    }

    .gen-text {
      animation: title-animated 1s ease-out 1 both;
    }

    .gradient-text {
      background: -webkit-linear-gradient(right, rgb(0, 116, 255), rgb(255, 62, 249)) text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  &--prize {
    background-image: url("/assets/image/logo-home-banner.webp");
    height: 900px;

    .support {
      background-color: var(--light-color-app);
      border-radius: 30px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);

        .view-detail {
          color: var(--light-color-app);
          background-color: var(--blue-color-app);
        }
      }

      .view-detail {
        transition: background-color 0.5s ease;
        background-color: var(--background-button-app);
      }
    }
  }

  &--core {
    .wrap-right {
      .item {
        position: relative;
        overflow: hidden;
        height: 300px;
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }

      .img-blue {
        width: 100%;
        height: 300px;
        background-color: var(--blue-color-app);
      }

      .img-yellow {
        width: 100%;
        height: 300px;
        background-color: var(--yellow-color-app);
      }
    }

    .item {
      position: relative;
      overflow: hidden;
      height: 618px;
      border-radius: 16px;
      width: 100%;

      img {
        width: 100%;
        height: 618px;
        object-fit: cover;
      }

      .overlay,
      .content {
        will-change: transform, opacity;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background-color-app);
        transform: translateY(100%);
        transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.7s;
        z-index: 1;
        border-radius: 16px;
      }

      .content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        color: var(--light-color-app);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s;
        transform: translateY(0%);

        span {
          display: none;
        }
      }

      &:hover {
        .overlay {
          transform: translateY(0%);
        }

        .content {
          bottom: 100%;
          transform: translateY(100%);

          span {
            display: inline-block;
          }
        }
      }
    }
  }

  &--business {
    .item {
      img {
        width: 150px;
        height: 70px;

        will-change: filter, transform;
        filter: grayscale(100%);
        transition: filter 0.8s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          filter: grayscale(0%);
          transform: scale(1.3);
        }
      }
    }
  }

  &--question {
    .item {
      img {
        width: 60px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.12);
        }
      }
    }
  }

  &--reason {
    .item:nth-of-type(1) {
      color: var(--blue-color-app)
    }

    .item:nth-of-type(2) {
      color: var(--yellow-color-app)
    }

    .item:nth-of-type(3) {
      color: var(--red-color-app)
    }

    .item:nth-of-type(4) {
      color: var(--green-color-app)
    }

    .item:nth-of-type(5) {
      color: var(--blue-color-app)
    }

    .item:nth-of-type(6) {
      color: var(--orange-color-app)
    }

    .item {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-radius: 12px;
      transition: color 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 0%;
        background: linear-gradient(to top left, #8ec5fc, #e0c3fc);
        z-index: 0;
        transition: height 0.4s ease-in-out;
        border-radius: 12px;
      }

      &:hover::before {
        height: 100%;
      }

      > * {
        position: relative;
        z-index: 1;
        transition: color 0.3s ease;
      }

      .content {
        color: var(--content-color-app)
      }

      &:hover {
        color: var(--light-color-app) !important;

        .content {
          color: var(--light-color-app) !important;
        }
      }
    }
  }

  &--partner {
    img {
      width: 300px;
      height: 100px;
    }

    .item {
      border-radius: 8px;
      padding: 16px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &--banner {
    position: relative;
    background-size: 100% 100%;
    font-family: Inter, sans-serif;
    color: var(--dark-color-app);
    height: 250px;
    border-bottom: 1px solid var(--border-color-app);
    background: radial-gradient(circle, #ffd9c8, #eee1ef);

    .banner-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }

    .gradient-text {
      background: -webkit-linear-gradient(right, rgb(0, 116, 255), rgb(255, 62, 249)) text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  &--orbit {
    background-image: linear-gradient(180deg, #fff, #fff3e6 19%, #fff3e6 67%, #fff3e6 78%, #fff);

    .orbit-wrapper {
      position: relative;
      width: 600px;
      height: 600px;
      margin: 50px auto;
      border-radius: 50%;
      //background-image: linear-gradient(180deg, #fff, #fff3e6 19%, #fff3e6 67%, #fff3e6 78%, #fff);
    }

    .center-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }

    .orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: rotate linear infinite;
    }

    .orbit1 {
      width: 120px;
      height: 120px;
      animation-duration: 8s;
    }

    .orbit2 {
      width: 200px;
      height: 200px;
      animation-duration: 12s;
      animation-direction: reverse;
    }

    .orbit3 {
      width: 280px;
      height: 280px;
      animation-duration: 16s;
    }

    .orbit4 {
      width: 360px;
      height: 360px;
      animation-duration: 20s;
      animation-direction: reverse;
    }

    .orbit5 {
      width: 440px;
      height: 440px;
      animation-duration: 24s;
    }

    .icon {
      position: absolute;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
    }
  }
}

@media (max-width: 1400px) {
  .home__card--prize {
    height: 1250px;
  }
}

@media (max-width: 1200px) {
  .home__card--banner {
    .avatar:nth-of-type(1) {
      top: 100px; left: 40px;
    }

    .avatar:nth-of-type(2) {
      top: 100px; right: 40px;
    }

    .avatar:nth-of-type(3) {
      top: 230px; left: 130px;
    }

    .avatar:nth-of-type(4) {
      top: 270px; right: 100px;
    }

    .avatar:nth-of-type(5) {
      top: 390px; left: 120px;
    }

    .avatar:nth-of-type(6) {
      top: 390px; right: 120px;
    }
  }
}

@media (max-width: 768px) {
  .home__card--prize {
    height: 1800px !important;
  }
}

