<section>
  <div class="home__card">
    <div class="home__card--center py-8 relative">
      <span class="avatar absolute md:block hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 43 43" fill="none" class="mdl-js">
          <path
            d="M22.9572 40.4804C33.7033 39.4118 41.5486 29.8341 40.48 19.0879C39.4115 8.34175 29.8338 0.496474 19.0877 1.56501C8.34154 2.63354 0.496307 12.2113 1.56485 22.9574C2.63339 33.7036 12.2111 41.5489 22.9572 40.4804Z"
            fill="white" stroke="white" stroke-width="0.869046" />
          <rect x="8.48438" y="10.4404" width="22.0077" height="22.0077" rx="4.29945"
            transform="rotate(-5.83727 8.48438 10.4404)" fill="#7F3FFF" />
          <circle cx="14.3096" cy="21.7224" r="1.42233" transform="rotate(-5.83727 14.3096 21.7224)" fill="white" />
          <path d="M20.0234 15.0845L20.205 16.8609" stroke="white" stroke-width="0.948157" />
          <circle cx="26.9776" cy="20.5306" r="1.42233" transform="rotate(-5.83727 26.9776 20.5306)" fill="white" />
          <rect x="13.8242" y="17.0547" width="12.7074" height="9.38519" rx="4.69259"
            transform="rotate(-5.83727 13.8242 17.0547)" fill="white" />
          <circle cx="18.1658" cy="21.4322" r="1.06675" transform="rotate(-5.83727 18.1658 21.4322)" fill="#7F3FFF" />
          <circle cx="23.1228" cy="20.9249" r="1.06675" transform="rotate(-5.83727 23.1228 20.9249)" fill="#7F3FFF" />
          <circle cx="19.8683" cy="13.7001" r="1.69314" transform="rotate(-5.83727 19.8683 13.7001)" fill="white" />
        </svg>
      </span>
      <span class="avatar absolute md:block hidden">
        <img src="./assets/image/avatar_man_2.webp">
      </span>
      <span class="avatar absolute md:block hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 41 41" fill="none" class="mdl-js">
          <path
            d="M20.3048 40.5223C31.2126 40.5525 40.0797 31.7344 40.1099 20.8265C40.1401 9.91866 31.3221 1.05158 20.4143 1.02135C9.50642 0.991127 0.63938 9.80921 0.609155 20.7171C0.578931 31.625 9.39697 40.4921 20.3048 40.5223Z"
            fill="white" stroke="white" stroke-width="0.877798" />
          <path
            d="M17.8522 37.271C26.6076 38.6876 34.8536 32.7383 36.2701 23.9829C37.6867 15.2275 31.7374 6.98146 22.982 5.56491C14.2266 4.14835 5.98056 10.0977 4.564 18.8531C3.14744 27.6085 9.09677 35.8545 17.8522 37.271Z"
            fill="url(#paint0_linear_13065_11568)" />
          <path
            d="M19.0526 29.0608C23.9143 29.8474 28.4904 27.0198 29.8821 22.6113C30.095 21.9308 29.6409 21.2219 28.913 21.1041L12.1977 18.3997C11.4697 18.2819 10.8153 18.8115 10.8027 19.5244C10.7322 24.1533 14.191 28.2743 19.0526 29.0608Z"
            fill="#424242" />
          <mask id="mask0_13065_11568" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="10" y="18" width="20"
            height="12">
            <path
              d="M19.0409 29.0618C23.9026 29.8484 28.4787 27.0208 29.8704 22.6123C30.0833 21.9318 29.6292 21.2228 28.9013 21.1051L12.1859 18.4007C11.458 18.2829 10.8035 18.8125 10.791 19.5254C10.7205 24.1543 14.1793 28.2752 19.0409 29.0618Z"
              fill="white" />
          </mask>
          <g mask="url(#mask0_13065_11568)">
            <path
              d="M23.5803 31.3458C24.284 28.8396 22.7486 26.2336 20.1507 25.5252C17.5529 24.8168 14.8764 26.2742 14.1727 28.7804C13.4689 31.2866 15.0044 33.8926 17.6022 34.6011C20.2001 35.3095 22.8765 33.852 23.5803 31.3458Z"
              fill="#F96843" />
          </g>
          <path
            d="M14.0143 16.5675C13.7739 16.5286 13.5677 16.3628 13.4829 16.1241C13.3661 15.7874 13.5612 15.4284 13.9079 15.319L16.7478 14.4546L14.3256 12.6527C14.0321 12.4331 13.9735 12.0331 14.1972 11.7515C14.421 11.47 14.8338 11.4176 15.1272 11.6372L18.5584 14.1915C18.7544 14.3357 18.8524 14.5767 18.8138 14.8153C18.7752 15.054 18.6005 15.2442 18.3635 15.3118L14.3196 16.5441C14.2177 16.5805 14.1144 16.5837 14.0143 16.5675Z"
            fill="#424242" />
          <path
            d="M27.7702 18.7928C27.6701 18.7766 27.573 18.741 27.4879 18.6743L24.0389 16.2297C23.8363 16.0843 23.7371 15.8499 23.768 15.6166C23.8066 15.3779 23.968 15.1855 24.2072 15.1051L28.2688 13.7631C28.6164 13.6472 28.9917 13.8271 29.1152 14.1648C29.2387 14.5026 29.057 14.8637 28.7093 14.9796L25.8424 15.9257L28.2649 17.6415C28.5593 17.8547 28.6313 18.2569 28.4143 18.5395C28.2642 18.7469 28.0106 18.8317 27.7702 18.7928Z"
            fill="#424242" />
          <defs>
            <linearGradient id="paint0_linear_13065_11568" x1="35.4301" y1="15.7095" x2="5.40135" y2="27.1222"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FDC75F" />
              <stop offset="0.3609" stop-color="#FDC75F" />
              <stop offset="0.9755" stop-color="#FDAF60" />
              <stop offset="1" stop-color="#FDAE60" />
            </linearGradient>
          </defs>
        </svg>
      </span>
      <span class="avatar absolute md:block hidden">
        <img src="./assets/image/avatar_woman_1.webp">
      </span>
      <span class="avatar absolute md:block hidden">
        <img src="./assets/image/avatar_man_1.webp">
      </span>
      <span class="avatar absolute md:block hidden">
        <img src="./assets/image/avatar_woman_2.webp">
      </span>

      <div class="flex justify-content-center align-items-center flex-column">
        <div class="text-7xl font-bold" [style.color]="genText[currentIndex].color" [ngClass]="{ 'gen-text': animate }">
          {{ genText[currentIndex].text }}
        </div>
        <div class="text-7xl font-bold gradient-text relative">
          với GenAI
          <span class="absolute top-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none"
              class="mdl-js">
              <g filter="url(#filter0_d_15995_7975)">
                <path
                  d="M29.3905 18.599L25.415 19.1218C20.6309 19.7572 16.871 23.45 16.2309 28.1422L15.6986 32.0469L15.2 28.4003C14.5397 23.589 10.7057 19.7969 5.81378 19.1218L2 18.599L5.71945 18.0828C10.6248 17.4011 14.4723 13.6156 15.1663 8.80431L15.6986 5.14453L16.2511 9.06241C16.9115 13.7347 20.6511 17.4078 25.4082 18.0563L29.3905 18.599Z"
                  fill="url(#paint0_linear_15995_7975)" />
              </g>
              <g filter="url(#filter1_d_15995_7975)">
                <path
                  d="M34.001 7.43364L32.1457 7.68364C29.9132 7.98744 28.1586 9.75329 27.8598 11.997L27.6114 13.8641L27.3787 12.1204C27.0706 9.81975 25.2814 8.00643 22.9985 7.68364L21.2188 7.43364L22.9545 7.1868C25.2437 6.86085 27.0391 5.05069 27.363 2.75003L27.6114 1L27.8693 2.87345C28.1774 5.10766 29.9226 6.86401 32.1426 7.17414L34.001 7.43364Z"
                  fill="url(#paint1_linear_15995_7975)" />
              </g>
              <defs>
                <filter id="filter0_d_15995_7975" x="0.988104" y="4.57419" width="29.4144" height="28.9261"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="0.441555" />
                  <feGaussianBlur stdDeviation="0.505948" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.513726 0 0 0 0 0 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15995_7975" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15995_7975" result="shape" />
                </filter>
                <filter id="filter1_d_15995_7975" x="20.6309" y="0.668655" width="13.957" height="14.04"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="0.256525" />
                  <feGaussianBlur stdDeviation="0.293935" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.513726 0 0 0 0 0 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15995_7975" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15995_7975" result="shape" />
                </filter>
                <linearGradient id="paint0_linear_15995_7975" x1="7.57095" y1="5.14453" x2="25.2705" y2="28.4791"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0.172748" stop-color="#FF48ED" />
                  <stop offset="0.870241" stop-color="#0068FF" />
                </linearGradient>
                <linearGradient id="paint1_linear_15995_7975" x1="25" y1="4" x2="32.317" y2="11.9656"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF14E7" />
                  <stop offset="0.695691" stop-color="#007AFF" />
                </linearGradient>
              </defs>
            </svg>
          </span>
        </div>
        <div class="text-xl reveal-text " style="color: var(--dark-color-app)">AINOVA TIÊN PHONG CÔNG NGHỆ - KIẾN TẠO GIÁ TRỊ</div>
      </div>

      <div class="flex justify-content-center align-items-center gap-8 mt-7">
        <span class="try-product app-btn px-5 py-2">
          <span class="mr-2" (click)="onRippleButtonClick($event)">Dùng thử sản phẩm</span>
          <i class="fa-solid fa-arrow-right"></i></span>
        <span class="cursor-pointer hover:underline" style="color: var(--dark-color-app)">Xem video</span>
      </div>
    </div>

    <div class="home__card--prize grid py-8">
      <div class="lg:px-8 px-3 mt-5">
        <div class="grid md:gap-5 gap-0 justify-content-center">
          <div class="support md:col-3 col-12 md:mt-0 mt-5 md:w-25rem w-30rem slide-up-fade-in p-3 flex flex-column">
            <img src="./assets/image/ai-agent-sales.webp">
            <div class="flex flex-column gap-2 mt-2">
              <p class="font-bold text-sm">AI Agent for Sales</p>
              <p class="text-sm mt-2">Nhân viên AI bán hàng tự động tư vấn chốt đơn, gia tăng chuyển đổi</p>
              <p class="flex align-items-end justify-content-end py-2">
                <span class="view-detail px-3 py-2 border-round cursor-pointer">Xem chi tiết</span>
              </p>
            </div>
          </div>
          <div class="support md:col-3 col-12 md:mt-0 mt-5 md:w-25rem w-30rem slide-up-fade-in p-3 flex flex-column">
            <img src="./assets/image/ai-agent-sustomer-service.webp">
            <div class="flex flex-column gap-2 mt-2">
              <p class="font-bold text-sm">AI Agent for Customer Service</p>
              <p class="text-sm mt-2">Nhân viên AI chăm sóc khách hàng 24/7, chất lượng như người thật</p>
              <p class="flex align-items-end justify-content-end py-2">
                <span class="view-detail px-3 py-2 border-round cursor-pointer">Xem chi tiết</span>
              </p>
            </div>
          </div>
          <div class="support md:col-3 col-12 md:mt-0 mt-5 md:w-25rem w-30rem slide-up-fade-in p-3 flex flex-column">
            <img src="./assets/image/ai-customer-experience-management.webp">
            <div class="flex flex-column gap-2 mt-2">
              <p class="font-bold text-sm">Customer Experience Management</p>
              <p class="text-sm mt-2">Lắng nghe, Phân tích, Tương tác, Gắn kết trên từng điểm chạm với GenAI</p>
              <p class="flex align-items-end justify-content-end py-2">
                <span class="view-detail px-3 py-2 border-round cursor-pointer">Xem chi tiết</span>
              </p>
            </div>
          </div>
        </div>

        <div class="flex justify-content-center align-items-center text-2xl py-8">
          Được tin tưởng bởi các doanh nghiệp hàng đầu
        </div>

        <div class="home__card--business grid">
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-1.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-2.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-3.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-4.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-5.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-6.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-7.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-8.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-9.png">
          </div>
          <div class="item md:col-2 col-4 flex align-items-center justify-content-center mt-2">
            <img src="./assets/image/logo-home-business-10.png">
          </div>
        </div>
      </div>
    </div>

    <div class="lg:px-8 px-3">
      <div class="flex justify-content-center align-items-center text-4xl font-bold text-app py-5 col-12">
        Đây Có Phải Những Vấn Đề Bạn Thường Xuyên Gặp Phải?
      </div>

      <div class="home__card--question py-8">
        <div class="grid">
          <div class="md:col-3 col-12 p-4 flex flex-column align-items-center gap-3 item">
            <div><img src="./assets/image/logo-home-clock.webp" alt="logo"></div>
            <div class="app-title font-bold text-center text-xl">Bỏ lỡ cơ hội tiếp cận khách hàng</div>
            <div class="app-content">Lượng khách hàng quá lớn nên nhân viên không kịp phản hồi. Khách hàng liên hệ ngoài
              giờ hành chính nên không có người tiếp</div>
          </div>
          <div class="md:col-3 col-12 p-4 flex flex-column align-items-center gap-3 item">
            <div><img src="./assets/image/logo-home-chat-messager.webp" alt="logo"></div>
            <div class="app-title font-bold text-center text-xl">Thiếu nhất quán trong thông tin tư vấn</div>
            <div class="app-content">Nhân viên đưa ra những thông tin khác nhau trong quá trình tư vấn, làm giảm niềm
              tin của khách hàng.</div>
          </div>
          <div class="md:col-3 col-12 p-4 flex flex-column align-items-center gap-3 item">
            <div><img src="./assets/image/logo-home-question.webp" alt="logo"></div>
            <div class="app-title font-bold text-center text-xl">Rào cản ngôn ngữ khi tiếp cận khách quốc tế</div>
            <div class="app-content">Nhân viên không đáp ứng được yêu cầu ngoại ngữ, cản trở doanh nghiệp mở rộng thị
              trường quốc tế.</div>
          </div>
          <div class="md:col-3 col-12 p-4 flex flex-column align-items-center gap-3 item">
            <div><img src="./assets/image/logo-home-group.webp" alt="logo"></div>
            <div class="app-title font-bold text-center text-xl">Khó khăn khi mở rộng đội ngũ nhân lực</div>
            <div class="app-content">Việc mở rộng quy mô nhân sự luôn gây tốn kém thời gian và chi phí, tiềm ẩn nhiều
              rủi ro về chất lượng nhân viên.</div>
          </div>
        </div>
      </div>

      <div class="home__card--banner p-5 border-round-2xl">
        <div class="banner-before"></div>
        <div class="banner-after"></div>
        <div class="banner-center grid align-items-center justify-content-between px-5">
          <span class="lg:col-6 col-12 md:text-5xl text-2xl text-left font-bold" style="color: var(--blue-color-app)">
            Nâng tầm trải nghiệm khách hàng với
            <br>
            <span class="gradient-text md:text-5xl text-2xl font-bold relative mr-6">GenAI
              <span class="absolute top-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" fill="none"
                   class="mdl-js">
              <g filter="url(#filter0_d_15995_7975)">
                <path
                  d="M29.3905 18.599L25.415 19.1218C20.6309 19.7572 16.871 23.45 16.2309 28.1422L15.6986 32.0469L15.2 28.4003C14.5397 23.589 10.7057 19.7969 5.81378 19.1218L2 18.599L5.71945 18.0828C10.6248 17.4011 14.4723 13.6156 15.1663 8.80431L15.6986 5.14453L16.2511 9.06241C16.9115 13.7347 20.6511 17.4078 25.4082 18.0563L29.3905 18.599Z"
                  fill="url(#paint0_linear_15995_7975)" />
              </g>
              <g filter="url(#filter1_d_15995_7975)">
                <path
                  d="M34.001 7.43364L32.1457 7.68364C29.9132 7.98744 28.1586 9.75329 27.8598 11.997L27.6114 13.8641L27.3787 12.1204C27.0706 9.81975 25.2814 8.00643 22.9985 7.68364L21.2188 7.43364L22.9545 7.1868C25.2437 6.86085 27.0391 5.05069 27.363 2.75003L27.6114 1L27.8693 2.87345C28.1774 5.10766 29.9226 6.86401 32.1426 7.17414L34.001 7.43364Z"
                  fill="url(#paint1_linear_15995_7975)" />
              </g>
              <defs>
                <filter id="filter0_d_15995_7975" x="0.988104" y="4.57419" width="29.4144" height="28.9261"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                 result="hardAlpha" />
                  <feOffset dy="0.441555" />
                  <feGaussianBlur stdDeviation="0.505948" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.513726 0 0 0 0 0 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15995_7975" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15995_7975" result="shape" />
                </filter>
                <filter id="filter1_d_15995_7975" x="20.6309" y="0.668655" width="13.957" height="14.04"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                 result="hardAlpha" />
                  <feOffset dy="0.256525" />
                  <feGaussianBlur stdDeviation="0.293935" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.513726 0 0 0 0 0 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15995_7975" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15995_7975" result="shape" />
                </filter>
                <linearGradient id="paint0_linear_15995_7975" x1="7.57095" y1="5.14453" x2="25.2705" y2="28.4791"
                                gradientUnits="userSpaceOnUse">
                  <stop offset="0.172748" stop-color="#FF48ED" />
                  <stop offset="0.870241" stop-color="#0068FF" />
                </linearGradient>
                <linearGradient id="paint1_linear_15995_7975" x1="25" y1="4" x2="32.317" y2="11.9656"
                                gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF14E7" />
                  <stop offset="0.695691" stop-color="#007AFF" />
                </linearGradient>
              </defs>
            </svg>
            </span>
            </span>
            <span class="md:text-5xl text-2xl font-bold">
              cùng AINOVA</span>
          </span>
          <span class="lg:col-6 col-12 w-22rem px-2 py-5 border-round-2xl md:text-3xl text-xl cursor-pointer app-btn md:mt-0 mt-4"
                style="background-color: var(--blue-color-app); color: var(--light-color-app)"
            (click)="onRippleButtonClick($event)">
            Đặt lịch tư vấn miễn phí
          </span>
        </div>
      </div>

      <div class="flex justify-content-start align-items-center text-4xl py-3 font-bold text-app py-8">
        Giá trị cốt lõi
      </div>

      <div class="home__card--core py-5 grid align-content-center justify-content-left m-0">
        <div class="md:col-4 col-12">
          <div class="item relative overflow-hidden">
            <img src="./assets/image/logo-home-window-fly.png" alt="logo">
            <div class="overlay absolute w-full h-full top-0 left-0"></div>
            <div class="content absolute p-3">
              <p class="text-3xl font-bold">Làm đúng</p>
              <span class="text-lg">
                Luôn làm điều đúng đắn và giữ vững nguyên tắc, đạo đức trong mọi hành động, quyết định, đặc biệt là khi
                không có ai giám sát. Chính trực là nền móng vững chắc giúp AINOVA xây dựng lòng tin với khách hàng, đối
                tác và nội bộ.
              </span>
            </div>
          </div>
        </div>
        <div class="md:col-8 col-12 grid wrap-right m-0 md:p-0 gap-3 lg:gap-0">
          <div class="md:col-6 col-12 p-0 lg:p-2">
            <div class="item relative overflow-hidden">
              <div class="img-blue"></div>
              <div class="overlay absolute w-full h-full top-0 left-0"></div>
              <div class="content absolute p-3">
                <p class="text-3xl font-bold">Làm thật</p>
                <span class="text-lg">
                  Mọi công việc, dự án và hoạt động tạo ra giá trị thật sự, có mục tiêu rõ ràng, mang lại lợi ích thực
                  chất và lâu dài cho khách hàng, đội ngũ và cộng đồng. Không chạy theo thành tích ảo hay các hoạt động
                  mang tính hình thức.
                </span>
              </div>
            </div>
          </div>

          <div class="md:col-6 col-12 p-0 lg:p-2">
            <div class="item relative overflow-hidden">
              <img src="./assets/image/logo-home-magnifying-glass.webp" alt="logo">
              <div class="overlay absolute w-full h-full top-0 left-0"></div>
              <div class="content absolute p-3">
                <p class="text-3xl font-bold">Làm sâu</p>
                <span class="text-lg">
                  Luôn bắt đầu bằng sự thấu hiểu sâu sắc, lắng nghe kỹ càng, tìm hiểu nguyên nhân gốc rễ trước khi hành
                  động. Kết hợp tư duy logic (first-principles thinking) với cảm xúc và dữ liệu để có cái nhìn toàn
                  diện.
                </span>
              </div>
            </div>
          </div>

          <div class="md:col-6 col-12 p-0 lg:p-2">
            <div class="item relative overflow-hidden">
              <img src="./assets/image/logo-home-ai-work.webp" alt="logo">
              <div class="overlay absolute w-full h-full top-0 left-0"></div>
              <div class="content absolute p-3">
                <p class="text-3xl font-bold">Làm bằng AI</p>
                <span class="text-lg">
                  Tận dụng sức mạnh của AI trong mọi khía cạnh công việc. Xây dựng tư duy thiết kế, phát triển sản phẩm
                  và vận hành xoay quanh AI ngay từ đầu. Dùng công nghệ thông minh để làm việc hiệu quả, tối ưu, và sáng
                  tạo hơn.
                </span>
              </div>
            </div>
          </div>

          <div class="md:col-6 col-12 p-0 lg:p-2">
            <div class="item relative overflow-hidden">
              <div class="img-yellow"></div>
              <div class="overlay absolute w-full h-full top-0 left-0"></div>
              <div class="content absolute p-3">
                <p class="text-3xl font-bold">Làm chủ chính mình</p>
                <span class="text-lg">
                  Mỗi thành viên AINOVA là một người lãnh đạo của chính mình. Chủ động đón nhận thử thách, chịu trách
                  nhiệm cá nhân, dẫn dắt bằng hành động và tinh thần học hỏi liên tục, không ngại khó khăn.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home__card--orbit">
      <div class="orbit-wrapper">
        <div class="center-icon">🌟</div>

        <div class="orbit orbit1">
          <div class="icon">💬</div>
        </div>
        <div class="orbit orbit2">
          <div class="icon">📧</div>
        </div>
        <div class="orbit orbit3">
          <div class="icon">📞</div>
        </div>
        <div class="orbit orbit4">
          <div class="icon">📱</div>
        </div>
        <div class="orbit orbit5">
          <div class="icon">🔔</div>
        </div>
      </div>
    </div>
  </div>
</section>
