/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

:root {
  --height-header: 82px;
  --app-shadows-btn: 0 12px 20px 6px rgb(104 112 118 / 0.08);
  --app-fonts-sans: 'Lexend', 'Lexend Fallback';

  --light-color-app: #fff;
  --dark-color-app: #000;
  --blue-color-app: #0058B0;
  --text-color-app: #0058B0;
  --yellow-color-app: #ffce32;
  --green-color-app: #00ca68;
  --border-color-app: #efefef;
  --background-button-app: #f4f4f4;

  --title-color-app: #101010;
  --content-color-app: #555555;
  --background-color-app: rgba(0, 0, 0, .7);

  --ripple-color: rgba(255, 255, 255, 0.5);
  --ripple-duration: 0.7s;
  --ripple-scale-factor: 2.5;
}

::-webkit-scrollbar {
  height: 6px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.66);
  border-radius: 5px;
}

.text-app {
  color: var(--text-color-app)
}

.app-title {
  color: var(--title-color-app);
}

.app-content {
  color: var(--content-color-app);
}

.app-btn {
  position: relative;
  overflow: hidden;
  background-color: var(--blue-color-app);
  //background: linear-gradient(90deg, var(--blue-color-app) 0%, var(--yellow-color-app) 100%);
  color: var(--light-color-app);
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  height: 40px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  will-change: transform;

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: var(--ripple-color);
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
  animation: ripple-animation var(--ripple-duration) linear forwards;
}

@keyframes ripple-animation {
  to {
    transform: scale(var(--ripple-scale-factor));
    opacity: 0;
  }
}

.reveal-text {
  display: inline-block;
  animation: reveal-text 1.5s ease-out forwards;
}

@keyframes reveal-text {
  0% {
    opacity: 0;
    transform: translateX(-20px);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes title-animated {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes rotate {
  0%   { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.slide-up-fade-in {
  animation: slide-up-fade-in 1s ease-out forwards;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
